* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

:root {
  --PrimaryColor: hsl(225, 50%, 48%);
  --SecondaryColor: hsl(180, 17%, 95%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28, 100%, 82%);
  --HoverColor: hsl(225, 56%, 59%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 12%);
  --textColor: hsl(240, 1%, 48%);
  --boderColor: hsl(0, 0%, 83%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.5) 0px 4px 6px -2px;
  -o-transition: 0.4s ease-in-out;
}

body {
  background: var(--whiteColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--PrimaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--whiteColor);
}
.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--HoverColor);
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--greyText);
}

p {
  font-size: 13px;
  color: var(--greyText);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--blackColor);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--blackColor);
}

/* navBar section styling */
.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.navBar .navBarOne,
.navBar .navBarTwo {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navBar .navBarOne {
  background: black;
  color: red;
  font-size: 13px;
  height: 100%;
  height: 1%;
}
.navBar .navBarOne li {
  font-size: 18px;
}
.navBar .navBarOne .icon:hover {
  color: var(--PrimaryColor);
}
.navBar .navBarOne .atb {
  gap: 1rem;
}
.navBar .navBarOne .atb span {
  color: var(--blackColor);
  font-size: 13px;
  cursor: pointer;
}
.navBar .navBarOne .atb span:hover {
  color: var(--PrimaryColor);
  font-size: 700;
}
.navBar .navBarTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 5rem;
  background: var(--SecondaryColor);
  margin-top: 0.5rem;
  padding: 1.5rem 13rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.navBar .navBarTwo .logoDiv .logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .navBar .navBarTwo .navBarMenu {
    position: absolute;
    background: var(--SecondaryColor);
    padding: 1.5rem;
    border-radius: 10px;
    top: 5rem;
    right: -50%;
    width: 80%;
    transform: translateX(50%);
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 3px solid var(--whiteColor);
    transition: 0.4s ease-in-out;
  }
  .navBar .navBarTwo .navBarMenu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .navBar .navBarTwo .navBarMenu .menu .listItem {
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--blackColor);
  }
  .navBar .navBarTwo .navBarMenu .menu .listItem:hover {
    color: var(--PrimaryColor);
    font-weight: 700;
  }
  .navBar .navBarTwo .navBarMenu .btnOne {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }
  .navBar .navBarTwo .btnTwo {
    display: none;
  }
}
.navBar .navBarTwo .toggleIcon .icon {
  font-size: 30px;
  color: var(--blackColor);
}
.navBar .navBarTwo .showNavBar {
  right: 50%;
  transition: 0.5s ease-in-out;
}
.navBar .navbar_With_Bg {
  background: var(--SecondaryColor);
  padding: 0.5rem 1rem;
  height: 8%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Home section styling */
.home {
  justify-content: center;
  display: flex;
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.home .mainText {
  color: var(--blackColor);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .homeImages {
  width: 100%;
  margin: 1rem auto 0;
  /* this will change on wider screens */
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
  z-index: 500;
}
.home .homeImages .videoDiv {
  width: 100%;
  z-index: 1;
}
.home .homeImages .videoDiv .video {
  border-radius: 10rem;
}
.home .homeImages .plane {
  position: absolute;
  width: 100%;
  top: -30%;
  height: auto;
}

.search {
  width: 120%;
}
.search .sectionContainer {
  padding: 1.5rem;
  border: 2px solid var(--greyBg);
  border-radius: 16px;
  row-gap: 2rem;
}
.search .sectionContainer .btns {
  background: var(--SecondaryColor);
  padding: 0.5rem;
  border-radius: 1rem;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.search .sectionContainer .btns .singleBtn {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  width: 80%;
  text-align: center;
}
.search .sectionContainer .btns .singleBtn:hover {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  font-weight: 1500;
  transition: 0.4s ease;
  cursor: pointer;
}
.search .sectionContainer .btns .active {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  font-weight: 500;
}
.search .sectionContainer .searchInputs {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.search .sectionContainer .searchInputs .singleInput .iconDiv {
  padding: 16px 10px;
  border-radius: 3rem;
  background: var(--SecondaryColor);
  margin-right: 1rem;
}
.search .sectionContainer .searchInputs .singleInput .iconDiv .icon {
  color: var(--blackColor);
  opacity: 0.7;
}
.search .sectionContainer .searchInputs .singleInput .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: var(--blackColor);
  font-weight: 700;
}
.search .sectionContainer .searchInputs .singleInput .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search .sectionContainer .searchInputs .singleInput .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .sectionContainer .searchInputs .singleInput .texts input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .sectionContainer .searchInputs .btnBlock {
  justify-content: center;
}

.support .sectionContainer .infoDiv {
  padding-top: 2rem;
  position: relative;
  background-image: url(./assets/country.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.support .infoDiv::before {
  content: "";
  background-color: rgba(1, 1, 1, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.support .sectionContainer .tittlesDiv small {
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--blackColor);
  line-height: 1.5rem;
}
.support .sectionContainer .infoDiv {
  margin-top: 2rem;
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv h4 {
  color: var(--whiteColor);
  font-size: 15px;
  font-weight: bold;
}
.support .sectionContainer .infoDiv .textDiv {
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .number {
  background: var(--PrimaryColor);
  padding: 5px 12px;
  width: 40px;
  border-radius: 3rem;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: var(--whiteColor);
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .colorOne {
  background: var(--colorOne);
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .colorTwo {
  background: var(--colorTwo);
}
.support .sectionContainer .infoDiv .imgGrid {
  margin: auto;
}
.support .sectionContainer .infoDiv .imgGrid img {
  width: 100%;
  max-width: 420px;
}

.info {
  background: var(--SecondaryColor);
  width: 122%;
}
.info .infoContainer .titleDiv {
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  justify-content: space-between;
}
.info .infoContainer .cardsDiv {
  gap: 1.5rem;
  margin-top: 3rem;
}
.info .infoContainer .cardsDiv p {
  font-size: 17px;
}
.info .infoContainer .cardsDiv .singleCard {
  background: var(--whiteColor);
  padding: 3rem 2rem;
  border-radius: 10rem;
  gap: 1rem;
  text-align: center;
  margin: auto;
  height: 320px;
  width: 90%;
  max-width: 250px;
}
.info .infoContainer .cardsDiv .singleCard .iconDiv {
  justify-content: center;
  margin: auto;
  background: var(--PrimaryColor);
  width: -moz-max-content;
  width: max-content;
  height: 55px;
  padding: 1rem;
  border-radius: 3rem;
}
.info .infoContainer .cardsDiv .singleCard .iconDiv .icon {
  color: var(--whiteColor);
}
.info .infoContainer .cardsDiv .singleCard .cardTitle {
  color: var(--blackColor);
  font-weight: 700;
}
.info .infoContainer .cardsDiv .singleCard .colorOne {
  background: var(--colorOne);
}
.info .infoContainer .cardsDiv .singleCard .colorTwo {
  background: var(--colorTwo);
}

.lounge .sectionContainer {
  justify-content: center;
  gap: 1.5rem;
}
.lounge .sectionContainer .imgDiv {
  margin: auto;
}
.lounge .sectionContainer .imgDiv img {
  max-width: 430px;
  border-radius: 10rem;
}
.lounge .sectionContainer .textDiv .grids {
  margin-top: 1rem;
  gap: 1.5rem;
}
.lounge .sectionContainer .textDiv .grids .singleGrid .gridTitle {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: var(--blackColor);
}

.travelers {
  margin-left: 10%;
  justify-content: center;
  display: flex;
}
.travelers .sectionContainer {
  text-align: center;
}
.travelers .sectionContainer h1 {
  color: red;
}
.travelers .sectionContainer .travelersContainer {
  margin-top: 1rem;
  gap: 1.5rem;
}
.travelers .sectionContainer .travelersContainer .singleTraveler {
  position: relative;
  height: 320px;
  width: 85%;
  max-width: 250px;
  overflow: hidden;
  border-radius: 10rem;
  gap: 1rem;
  margin: auto;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .destinationImage,
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerImage,
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerName {
  position: absolute;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .destinationImage {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerImage {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  bottom: 30px;
  left: -40%;
  transform: translateX(-50%);
  border: 5px solid rgba(225, 225, 225, 0.637);
  animation: animated 2.3s infinite;
}
@keyframes animated {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerName {
  bottom: -100%;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background: var(--whiteColor);
  padding: 1.5rem 1rem;
  transition: transitsion;
  animation: animatedBorders 2.3s infinite;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerName span {
  display: block;
  color: black;
  font-weight: 700;
}
.travelers .sectionContainer .travelersContainer .singleTraveler .travelerName p {
  color: var(--PrimaryColor);
  font-style: italic;
}
@keyframes animatedBorders {
  0% {
    border-radius: 0rem;
  }
  50% {
    border-radius: 2rem;
  }
  100% {
    border-radius: 0rem;
  }
}
.travelers .sectionContainer .travelersContainer .singleTraveler:hover .travelerName {
  bottom: 0;
  transition: 1s ease-in-out;
}
.travelers .sectionContainer .travelersContainer .singleTraveler:hover .travelerImage {
  bottom: 110px;
  transition: 1s ease-in-out;
}

/* subscribe section styling */
.subscribe {
  width: 122%;
  background-color: var(--SecondaryColor);
}
.subscribe .sectionContainer {
  width: 100%;
  text-align: center;
}
.subscribe .sectionContainer h1 {
  padding-top: 4rem;
}
.subscribe .sectionContainer .map {
  margin-top: 2rem;
  width: 100%;
  height: 400px; /* Set the desired height for the map container */
  border-radius: 10px;
  overflow: hidden;
}
.subscribe .sectionContainer .map iframe {
  width: 100%;
  height: 100%;
  border: solid;
  border-radius: 2rem;
}
.subscribe .sectionContainer .inputDiv {
  margin-top: 1rem;
  flex-direction: column;
  background: var(--whiteColor);
  border-radius: 1rem;
}
.subscribe .sectionContainer .inputDiv input {
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem 0.5rem;
  font-size: 25px;
}
.subscribe .sectionContainer .inputDiv input::-moz-placeholder {
  font-size: 13px;
  opacity: 0.5;
}
.subscribe .sectionContainer .inputDiv input::placeholder {
  font-size: 13px;
  opacity: 0.5;
}
.subscribe .sectionContainer .inputDiv .btn {
  width: 100%;
  font-size: 20px;
}

.footer {
  background: var(--SecondaryColor);
  width: 122%;
}
.footer .sectionContainer {
  gap: 2.5rem;
  justify-content: center;
  display: flex;
}
.footer .sectionContainer .mapGrid {
  display: grid;
}
.footer .sectionContainer .mapGrid .map {
  justify-content: center;
  display: flex;
  width: 120%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.footer .sectionContainer .mapGrid .map iframe {
  width: 60%;
  height: 70%;
  border: none;
}
.footer .sectionContainer .footerLinks {
  display: grid;
}
.footer .sectionContainer .footerLinks .linkTitle {
  color: var(--blackColor);
  font-weight: 500;
  display: block;
}
.footer .sectionContainer .footerLinks .linkTitle:hover {
  transform: translateX(7px);
  color: var(--PrimaryColor);
}
.footer .sectionContainer .footerLinks li a {
  display: block;
  color: var(--greyText);
  padding: 0.3rem 0;
}
.footer .sectionContainer .footerLinks li a:hover {
  transform: translateX(7px);
  color: var(--PrimaryColor);
}
.footer .copyRightDiv .socialIcon {
  margin-top: 1rem;
  margin-left: 10rem;
  gap: 1rem;
  justify-items: center;
  display: flex;
  align-items: center;
}
.footer .copyRightDiv .socialIcon .icon {
  height: 50px;
  width: 30px;
  border-radius: 10rem;
  border: 1px solid var(--boderColor);
  box-shadow: var(--boxShadow);
  padding: 0.4rem;
  color: var(--greyText);
}
.footer .copyRightDiv .socialIcon .icon:hover {
  background: var(--PrimaryColor);
  transform: translateY(-7px);
  border: 1px solid var(--PrimaryColor);
  color: var(--whiteColor);
}
.footer .copyRightDiv {
  justify-items: center;
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid var(--greyText);
  text-align: center;
}
.footer .copyRightDiv h3 {
  padding-bottom: 1rem;
}

@media screen and (min-width: 480px) {
  .navBar {
    align-items: center;
  }
  .navBar .navBarOne {
    font-size: 17px;
  }
  .navBar .navBarOne li {
    font-size: 18px;
  }
  .navBar .navBarTwo {
    margin-top: -1%;
  }
  .navBar .navBarTwo .logoDiv .logo {
    max-width: 20%;
  }
  .home {
    padding-top: 12rem;
  }
  .search .sectionContainer .searchInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .support .sectionContainer .infoDiv {
    margin-left: 15%;
    padding-left: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .support .sectionContainer .infoDiv .textDiv {
    padding-left: 5%;
    grid-template-columns: repeat(1, 1fr);
  }
  .support .sectionContainer .infoDiv .textDiv h4 {
    font-size: 17px;
  }
  .support .sectionContainer .infoDiv .textDiv p {
    font-size: 17px;
  }
  .support .sectionContainer .infoDiv .gridTwo {
    padding-top: 2rem;
    padding-left: 5rem;
  }
  .info {
    width: 129%;
  }
  .info .infoContainer .titleDiv {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .info .infoContainer .cardsDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .info .infoContainer .cardsDiv p {
    font-size: 14px;
  }
  .info .infoContainer .cardsDiv .singleCard {
    max-width: 260px;
    padding: 3rem 1rem;
  }
  .lounge .sectionContainer .imgOne {
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .lounge .sectionContainer .textDiv .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .travelers {
    justify-content: center;
    display: flex;
    margin-left: 10%;
  }
  .travelers .sectionContainer h1 {
    color: red;
    font-size: 40px;
    font-weight: bolder;
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe {
    width: 129%;
  }
  .subscribe .sectionContainer {
    margin: auto;
  }
  .subscribe .sectionContainer .inputDiv {
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 3rem;
    justify-content: space-between;
  }
  .subscribe .sectionContainer .btn {
    max-width: 50%;
  }
  .footer {
    width: 129%;
  }
  .footer .sectionContainer {
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .sectionContainer .footerLinks {
    justify-content: center;
  }
}
@media screen and (min-width: 570px) {
  .navBar {
    align-items: center;
  }
  .navBar .navBarOne {
    font-size: 20px;
  }
  .navBar .navBarOne li {
    font-size: 18px;
  }
  .navBar .navBarOne .none {
    display: flex;
    gap: 1.5rem;
  }
  .navBar .navBarOne .none li {
    font-size: 12px;
    gap: 0.5rem;
    color: var(--textColor);
  }
  .navBar .navBarOne .none li:hover {
    color: var(--PrimaryColor);
    text-decoration: underline;
  }
  .navBar .navBarTwo {
    margin-top: -1%;
  }
  .navBar .navBarTwo .logoDiv .logo {
    max-width: 20%;
  }
  .home .mainText {
    width: 80%;
  }
  .home .homeImages .video {
    border-radius: 15rem;
  }
  .home .homeImages .plane {
    position: absolute;
    width: 95%;
    top: -8%;
  }
  .search .sectionContainer .btns {
    border-radius: 3rem;
    flex-direction: row;
  }
  .support {
    margin-left: 8%;
  }
  .support .sectionContainer .infoDiv .textDiv {
    margin-top: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .support .sectionContainer .infoDiv .textDiv h4 {
    font-size: 19px;
  }
  .support .sectionContainer .infoDiv .textDiv h4 .icon {
    font-size: 25px;
  }
  .support .sectionContainer .infoDiv .textDiv p {
    font-size: 19px;
  }
  .travelers .sectionContainer h1 {
    color: red;
    font-size: 45px;
    font-weight: bolder;
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .info {
    width: 120%;
  }
  .info .infoContainer .titleDiv {
    flex-direction: row;
  }
  .info .infoContainer .titleDiv h2 {
    text-align: left;
  }
  .info .infoContainer .cardsDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .info .infoContainer .cardsDiv p {
    font-size: 14px;
  }
  .lounge .sectionContainer .imgOne {
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .lounge .sectionContainer .textDiv .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .travelers {
    justify-content: center;
    display: flex;
    margin-left: 10%;
  }
  .travelers h1 {
    font-size: 30px;
  }
  .travelers h2 {
    font-size: 25px;
  }
  .travelers .sectionContainer h1 {
    font-size: 40px;
    font-weight: bolder;
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe {
    width: 120%;
  }
  .subscribe .sectionContainer .inputDiv {
    justify-content: space-between;
  }
  .subscribe .sectionContainer .inputDiv .btn {
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .footer {
    width: 120%;
  }
  .footer .sectionContainer {
    padding-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .sectionContainer .footerLinks {
    justify-content: center;
  }
}
@media screen and (min-width: 680px) {
  .navBar {
    align-items: center;
  }
  .navBar .navBarOne {
    font-size: 14px;
  }
  .navBar .navBarOne li {
    font-size: 15px;
  }
  .navBar .navBarOne .none {
    display: flex;
    gap: 1.5rem;
  }
  .navBar .navBarOne .none li {
    gap: 0.5rem;
    color: var(--textColor);
  }
  .navBar .navBarOne .none li:hover {
    color: var(--PrimaryColor);
    text-decoration: underline;
  }
  .navBar .navBarTwo {
    margin-top: 0%;
  }
  .home .mainText {
    width: 80%;
  }
  .home .homeImages .videoDiv {
    width: 80%;
  }
  .home .homeImages .videoDiv .video {
    height: 100%;
    width: 100%;
    border-radius: 15rem;
  }
  .home .homeImages .plane {
    position: absolute;
    width: 95%;
    top: -8%;
  }
  .search .sectionContainer .btns {
    border-radius: 3rem;
    flex-direction: row;
    align-items: center;
  }
  .search .sectionContainer .searchInputs {
    grid-template-columns: repeat(3, 1fr);
  }
  .support {
    width: 105%;
  }
  .support .sectionContainer .infoDiv {
    margin-left: 10%;
    grid-template-columns: repeat(3, 1fr);
  }
  .support .sectionContainer .infoDiv .textDiv {
    padding-left: 5%;
    grid-template-columns: repeat(1, 1fr);
  }
  .lounge .sectionContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .travelers {
    justify-content: center;
    display: flex;
    margin-left: 10%;
  }
  .travelers h1 {
    font-size: 30px;
    font-weight: bolder;
  }
  .travelers h2 {
    font-size: 25px;
  }
  .travelers .sectionContainer h1 {
    font-size: 39px;
    font-weight: bolder;
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .info {
    width: 120%;
  }
  .info .infoContainer .titleDiv {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .info .infoContainer .cardsDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .info .infoContainer .cardsDiv p {
    font-size: 13px;
  }
  .info .infoContainer .cardsDiv .singleCard {
    max-width: 260px;
    padding: 3rem 1rem;
  }
  .subscribe {
    width: 120%;
  }
  .subscribe h1 {
    font-size: 28px;
  }
  .footer {
    width: 120%;
  }
  .footer .sectionContainer {
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .sectionContainer .footerLinks {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .navBar {
    align-items: center;
  }
  .navBar .navBarOne {
    font-size: 18px;
  }
  .navBar .navBarOne li {
    font-size: 15px;
  }
  .navBar .navBarOne .none {
    display: flex;
    gap: 1.5rem;
  }
  .navBar .navBarOne .none li {
    font-size: 12px;
    gap: 0.5rem;
    color: var(--textColor);
  }
  .navBar .navBarOne .none li:hover {
    color: var(--PrimaryColor);
    text-decoration: underline;
  }
  .navBar .navBarTwo {
    justify-content: space-between;
    margin-top: 0.5rem;
    align-items: center;
    margin-top: -1%;
  }
  .navBar .navBarTwo .logoDiv .logo {
    max-width: 20%;
  }
  .navBar .navBarTwo .menu {
    flex-direction: row;
    gap: 0.5rem;
  }
  .navBar .navBarTwo .menu .listItem {
    padding: 0 0.5rem;
    font-size: 15px;
    cursor: pointer;
    color: var(--textColor);
    font-weight: 700;
  }
  .navBar .navBarTwo .menu .listItem:hover {
    color: var(--PrimaryColor);
    font-weight: 700;
  }
  .navBar .navBarTwo .btnOne, .navBar .navBarTwo .toggleIcon {
    display: none;
  }
  .search h1 {
    font-size: 30px;
  }
  .search .sectionContainer .btns {
    width: 70%;
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .sectionContainer .searchInputs {
    grid-template-columns: repeat(4, 1fr);
  }
  .search .sectionContainer .searchInputs .singleInput .texts input {
    width: 100%;
  }
  .support h1 {
    font-size: 30px;
  }
  .support h2 {
    font-size: 20px;
  }
  .support h3, .support h4 {
    font-size: 19px;
  }
  .support p, .support small {
    font-size: 14px;
  }
  .support .sectionContainer .infoDiv {
    padding-left: 10%;
  }
  .support .sectionContainer .infoDiv .textDiv {
    margin-top: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .support .sectionContainer .infoDiv .textDiv h4 {
    font-size: 20px;
  }
  .support .sectionContainer .infoDiv .textDiv h4 .icon {
    font-size: 30px;
  }
  .support .sectionContainer .infoDiv .textDiv p {
    font-size: 25px;
  }
  .info {
    width: 120%;
  }
  .info .infoContainer .titleDiv {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .info .infoContainer .cardsDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .info .infoContainer .cardsDiv p {
    font-size: 13px;
  }
  .info .infoContainer .cardsDiv .singleCard {
    max-width: 260px;
    padding: 3rem 1rem;
  }
  .lounge h1 {
    font-size: 30px;
  }
  .lounge .sectionContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .sectionContainer .imgDiv {
    width: 80%;
  }
  .lounge .sectionContainer .imgDiv .imgOne {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .lounge .sectionContainer .imgDiv .imgTwo {
    margin-top: 2rem;
  }
  .lounge .sectionContainer .textDiv {
    grid-area: 1;
  }
  .lounge .sectionContainer .textDiv .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .sectionContainer .textDiv .grids p {
    font-size: 16px;
  }
  .travelers {
    justify-content: center;
    display: flex;
    margin-left: 10%;
  }
  .travelers h1 {
    font-size: 30px;
    padding-bottom: 1rem;
  }
  .travelers h2 {
    font-size: 25px;
    padding-bottom: 1rem;
  }
  .travelers .sectionContainer h1 {
    font-size: 45px;
    font-weight: bolder;
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe {
    width: 120%;
  }
  .subscribe .sectionContainer {
    max-width: 60%;
  }
  .footer {
    width: 120%;
  }
  .footer .copyRightDiv {
    justify-content: center;
  }
}
@media screen and (min-width: 960px) {
  .navBar {
    align-items: center;
  }
  .navBar .navBarOne {
    font-size: 20px;
  }
  .navBar .navBarOne li {
    font-size: 20px;
  }
  .home {
    padding-top: 13rem;
    margin-left: 10%;
  }
  .home .mainText {
    width: 70%;
    padding-bottom: 1.5rem;
    font-size: 22px;
    line-height: 4rem;
  }
  .navBar .navBarOne .flex li {
    font-size: 22px;
  }
  .navBar .navBarOne .atb {
    font-size: 22px;
  }
  .navBar .navBarTwo .menu {
    gap: 1rem;
  }
  .navBar .navBarTwo .menu .listItem {
    font-size: 25px;
  }
  .search .sectionContainer .searchInputs {
    grid-template-columns: repeat(5, 1fr);
  }
  .search .sectionContainer .searchInputs .singleInput .texts input {
    width: 100%;
  }
  .support {
    width: 100%;
  }
  .support .sectionContainer .infoDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .info {
    width: 128%;
  }
  .info .infoContainer .cardsDiv p {
    font-size: 14px;
  }
  .lounge .sectionContainer .imgDiv {
    width: 100%;
    height: 100%;
  }
  .lounge .sectionContainer .imgOne {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .lounge .sectionContainer .imgTwo {
    padding-top: 6rem;
  }
  .lounge .sectionContainer .textDiv .grids p {
    font-size: 17px;
  }
  .travelers {
    justify-content: center;
    display: flex;
  }
  .travelers h1 {
    font-size: 30px;
  }
  .travelers h2 {
    font-size: 25px;
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem 0;
  }
  .subscribe {
    width: 128%;
  }
  .subscribe .sectionContainer {
    max-width: 60%;
  }
  .footer {
    width: 128%;
  }
  .footer .copyRightDiv {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
  h1 {
    margin-left: 8rem;
  }
  h4 {
    font-size: 20px;
  }
  h2 {
    font-size: 27px;
  }
  .section {
    padding: 6rem 0 4rem;
  }
  .container {
    width: 75%;
    margin: auto;
  }
  .navBar .navBarOne {
    font-size: 22px;
  }
  .navBar .navBarOne li {
    font-size: 25px;
  }
  .navBar .navBarTwo {
    margin-top: 0%;
  }
  .navBar .navBarTwo .menu {
    gap: 1rem;
  }
  .navBar .navBarTwo .menu .listItem {
    font-size: 22px;
  }
  .navBar .navBarOne, .navBar .navBarTwo {
    padding-bottom: 1.5rem 5rem;
  }
  .navBar .navbar_With_Bg {
    padding: 0 5rem;
  }
  .support {
    width: 110%;
  }
  .support .sectionContainer .infoDiv {
    padding-left: 15%;
  }
  .support .sectionContainer .infoDiv .textDiv {
    margin-top: 2rem;
    padding: 2rem 2rem 2rem 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .support .sectionContainer .infoDiv .textDiv h4 {
    font-size: 21px;
  }
  .support .sectionContainer .infoDiv .textDiv h4 .icon {
    font-size: 31px;
  }
  .support .sectionContainer .infoDiv .textDiv p {
    font-size: 26px;
  }
  .home {
    padding-top: 13rem;
  }
  .home .mainText {
    width: 60%;
    font-size: 25px;
    line-height: 4rem;
  }
  .home .homeImages .videoDiv {
    width: 90%;
    height: 300px;
  }
  .home .homeImages .videoDiv .video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15rem;
  }
  .search .sectionContainer .btns {
    width: 50%;
  }
  .info {
    width: 120%;
  }
  .info .infoContainer .cardsDiv p {
    font-size: 14px;
  }
  .lounge {
    justify-content: center;
    display: flex;
  }
  .lounge .sectionContainer .imgDiv {
    width: 100%;
    height: 100%;
  }
  .lounge .sectionContainer .imgOne {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .lounge .sectionContainer .imgTwo {
    padding-top: 6rem;
  }
  .lounge .sectionContainer .textDiv .grids p {
    font-size: 17px;
  }
  .travelers {
    margin-left: 20%;
    justify-content: center;
    display: flex;
  }
  .travelers h1 {
    font-size: 32px;
  }
  .subscribe .sectionContainer {
    max-width: 60%;
  }
  .footer .copyRightDiv {
    justify-content: center;
  }
}
@media screen and (min-width: 1106px) {
  .navBar .navBarOne {
    font-size: 30px;
  }
  .navBar .navBarOne li {
    font-size: 25px;
  }
  .navBar .navBarOne .atb {
    font-size: 25px;
  }
  .navBar .navBarTwo {
    margin-top: 1%;
  }
  .navBar .navBarTwo .menu {
    gap: 1rem;
  }
  .navBar .navBarTwo .menu .listItem {
    padding: 0 2rem;
    font-size: 25px;
  }
  .search h1 {
    font-size: 35px;
  }
  .search h2 {
    font-size: 24px;
  }
  .search h3, .search h4 {
    font-size: 21px;
  }
  .search p, .search small {
    font-size: 16px;
  }
  .support {
    width: 118%;
  }
  .support h1 {
    font-size: 30px;
  }
  .support h2 {
    font-size: 20px;
  }
  .support h3, .support h4 {
    font-size: 19px;
  }
  .support p, .support small {
    font-size: 14px;
  }
  .support .sectionContainer .tittlesDiv h1 {
    font-size: 30px;
    margin-left: 10%;
  }
  .support .sectionContainer h2 {
    margin-left: 10%;
    font-size: 30px;
  }
  .support .sectionContainer .infoDiv {
    padding-left: 10%;
    width: 80%;
  }
  .support .sectionContainer .infoDiv .textDiv {
    width: 100%;
    padding: 0rem 0rem 1rem 0rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .support .sectionContainer .infoDiv .textDiv h4 {
    font-size: 20px;
  }
  .support .sectionContainer .infoDiv .textDiv h4 .icon {
    font-size: 35px;
  }
  .support .sectionContainer .infoDiv .textDiv p {
    font-size: 25px;
  }
  .info {
    width: 128%;
  }
  .info .infoContainer .cardsDiv p {
    font-size: 14px;
  }
  .lounge {
    justify-content: center;
    display: flex;
    margin-left: 20%;
  }
  .lounge .sectionContainer .imgDiv {
    width: 80%;
  }
  .lounge .sectionContainer .imgOne {
    padding-bottom: 2rem;
  }
  .lounge .sectionContainer .textDiv .grids p {
    font-size: 17px;
  }
  .travelers {
    margin-left: 20%;
    justify-content: center;
    display: flex;
  }
  .travelers h1 {
    font-size: 30px;
  }
  .travelers h2 {
    font-size: 20px;
  }
  .travelers h3, .travelers h4 {
    font-size: 19px;
  }
  .travelers p, .travelers small {
    font-size: 14px;
  }
  .subscribe h1 {
    font-size: 30px;
  }
  .subscribe h2 {
    font-size: 20px;
  }
  .subscribe h3, .subscribe h4 {
    font-size: 19px;
  }
  .subscribe p, .subscribe small {
    font-size: 14px;
  }
  .subscribe .sectionContainer {
    max-width: 60%;
  }
  .footer h1 {
    font-size: 30px;
  }
  .footer h2 {
    font-size: 20px;
  }
  .footer h3, .footer h4 {
    font-size: 19px;
  }
  .footer p, .footer small {
    font-size: 14px;
  }
}
@media screen and (min-width: 1332px) {
  .navBar h1 {
    cursor: pointer;
  }
  .navBar .navBarOne .flex li {
    font-size: 25px;
    gap: 0.5rem;
    color: var(--textColor);
  }
  .navBar .navBarOne .flex li:hover {
    color: var(--PrimaryColor);
    text-decoration: underline;
  }
  .navBar .navBarTwo .menu {
    gap: 1rem;
  }
  .navBar .navBarTwo .menu .listItem {
    padding: 0 2rem;
    font-size: 25px;
    color: var(--textColor);
  }
  .home h1 {
    font-size: 35px;
  }
  .home h2 {
    font-size: 30px;
  }
  .home h3, .home h4 {
    font-size: 19px;
  }
  .home p, .home small {
    font-size: 15px;
  }
  .home .homeImages .plane {
    width: 90%;
    top: -30%;
  }
  .search h1 {
    font-size: 35px;
  }
  .search h2 {
    font-size: 30px;
  }
  .search h3, .search h4 {
    font-size: 20px;
  }
  .search p, .search small {
    font-size: 15px;
  }
  .support {
    width: 120%;
  }
  .support .sectionContainer .tittlesDiv h1 {
    font-size: 40px;
    margin-left: 10%;
  }
  .support .sectionContainer h2 {
    font-size: 30px;
    margin-left: 10%;
  }
  .support .sectionContainer .infoDiv .textDiv .singleInfo h4 {
    font-size: 25px;
  }
  .support .sectionContainer .infoDiv .textDiv .singleInfo p {
    max-width: 500px;
  }
  .info {
    width: 120%;
  }
  .info h1 {
    font-size: 35px;
  }
  .info h2 {
    font-size: 30px;
  }
  .info h3, .info h4 {
    font-size: 19px;
  }
  .info p, .info small {
    font-size: 15px;
  }
  .info .infoContainer .cardsDiv p {
    font-size: 16px;
  }
  .lounge {
    justify-content: center;
    display: flex;
  }
  .lounge h1 {
    font-size: 35px;
  }
  .lounge h2 {
    font-size: 30px;
  }
  .lounge h3, .lounge h4 {
    font-size: 19px;
  }
  .lounge p, .lounge small {
    font-size: 15px;
  }
  .lounge .sectionContainer .imgOne {
    padding-bottom: 2rem;
  }
  .lounge .sectionContainer .textDiv .grids p {
    font-size: 17px;
  }
  .travelers h1 {
    font-size: 35px;
  }
  .travelers h2 {
    font-size: 30px;
  }
  .travelers h3, .travelers h4 {
    font-size: 19px;
  }
  .travelers p, .travelers small {
    font-size: 15px;
  }
  .travelers .sectionContainer h1 {
    font-size: 50px;
    font-weight: bolder;
  }
  .subscribe h1 {
    font-size: 35px;
  }
  .subscribe h2 {
    font-size: 30px;
  }
  .subscribe h3, .subscribe h4 {
    font-size: 19px;
  }
  .subscribe p, .subscribe small {
    font-size: 15px;
  }
  .subscribe .sectionContainer {
    max-width: 50%;
  }
  .footer h1, .footer h2 {
    font-size: 35px;
  }
  .footer h2, .footer h3, .footer h4 {
    font-size: 19px;
  }
  .footer p, .footer small {
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .navBar .navBarOne {
    font-size: 35px;
  }
  .navBar .navBarOne h1 {
    cursor: pointer;
  }
  .navBar .navBarOne li {
    font-size: 40px;
  }
  .navBar .navBarOne li:hover {
    color: var(--PrimaryColor);
    text-decoration: none;
  }
  .navBar .navBarOne li .icon {
    font-size: 30px;
  }
  .navBar .navBarTwo .menu .listItem {
    font-size: 30px;
    cursor: pointer;
    color: var(--textColor);
    font-weight: 600;
  }
  .navBar .navBarTwo .menu .listItem:hover {
    color: var(--PrimaryColor);
    font-weight: 700;
  }
  .home h1 {
    font-size: 40px;
  }
  .home h2 {
    font-size: 35px;
  }
  .home h3, .home h4 {
    font-size: 20px;
  }
  .home small, .home p {
    font-size: 15px;
  }
  .home .homeImages .plane {
    width: 90%;
    top: -30%;
  }
  .search h1 {
    font-size: 40px;
  }
  .search h2 {
    font-size: 35px;
  }
  .search h3, .search h4 {
    font-size: 20px;
  }
  .search small, .search p {
    font-size: 15px;
  }
  .support {
    width: 100%;
  }
  .support h1 {
    font-size: 25px;
  }
  .support h2 {
    font-size: 25px;
  }
  .support h3 {
    font-size: 20px;
  }
  .support small, .support p, .support h4 {
    font-size: 15px;
  }
  .support .sectionContainer .tittlesDiv h1 {
    font-size: 60px;
    margin-left: 10%;
  }
  .support .sectionContainer h2 {
    margin-left: 10%;
  }
  .support .sectionContainer .infoDiv {
    border-radius: 2rem;
  }
  .support .sectionContainer .infoDiv .textDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .support .sectionContainer .infoDiv .textDiv h4 {
    font-size: 60px;
  }
  .info {
    width: 100%;
  }
  .info h1 {
    font-size: 40px;
  }
  .info h2 {
    font-size: 35px;
  }
  .info h3, .info span {
    font-size: 20px;
  }
  .info small, .info p {
    font-size: 15px;
  }
  .info .infoContainer .cardsDiv p {
    font-size: 16px;
  }
  .travelers {
    margin-left: 10%;
  }
  .travelers h1 {
    font-size: 40px;
  }
  .travelers h2 {
    font-size: 35px;
  }
  .travelers h3 {
    color: red;
    font-size: 20px;
  }
  .travelers p {
    font-size: 15px;
  }
  .travelers .sectionContainer h1 {
    font-size: 60px;
    font-weight: bolder;
  }
  .lounge h1 {
    font-size: 40px;
  }
  .lounge h2 {
    font-size: 35px;
  }
  .lounge h3 {
    font-size: 20px;
  }
  .lounge small, .lounge p {
    font-size: 15px;
  }
  .lounge .sectionContainer .textDiv .grids p {
    font-size: 18px;
  }
  .subscribe {
    width: 100%;
  }
  .subscribe h1 {
    font-size: 40px;
  }
  .subscribe h2 {
    font-size: 35px;
  }
  .subscribe h3 {
    font-size: 20px;
  }
  .subscribe small {
    font-size: 15px;
  }
  .footer {
    width: 100%;
  }
  .footer h1 {
    font-size: 40px;
  }
  .footer h3 {
    font-size: 20px;
  }
  .footer small {
    font-size: 15px;
  }
}
::-moz-selection {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}
::selection {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--greyBg);
}

::-webkit-scrollbar-thumb {
  background: var(--PrimaryColor);
}/*# sourceMappingURL=main.css.map */